<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Aula 08 - VUeJS do Jeito Ninja</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

	</head>
<body>
	<div id="app">		
		<h1>{{ titulo }}</h1>
		<div> {{ date |dateFormat }} </div>
		<ul>
			<li v-for="usuario in usuarios">{{ usuario.nome | toUpperCase() }}</li>
			<br/>
			<li v-for="usuario in usuarios">{{ usuario.nome | truncate('10') }}</li>
		</ul>
		<form action="https://www.google.com">
			<button class="btn btn-primary" @click.prevent.stop="enviar()" type="submit">Enviar</button>	
		</form>
		
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>


	<script>
		var app = new Vue({
			el: "#app",
			data: {
				titulo: "Vuejs do Jeito Ninja!",
				date: '2019-10-23',
				usuarios:[
					{ nome: 'Jon Snow' },
					{ nome: "Tyrion Lannister" },
					{ nome: "Daenerys Targaryan" }
				]				
			},

			filters: {
				toUpperCase(str) {
					return str.toUpperCase();
				},

				truncate(str, length) {
					var output =  str;
					if (output.length > length) {
						output = str.substring(0, length) + ' ...' ;
					}
					return output;
				},

				dateFormat(date) {
					const output = date.split('-');
				return output[2] + '/' + output[1] + '/' + output[0];
				},
			},

			methods: {
				enviar(){
					alert('Enviado!');
				},
			}
		});
	</script>
</body>
</html>